#dropshipping-table-wrapper {
  position: relative;
  display: block;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-text {
  font-size: 20px;
}

.nowrap{
  white-space: nowrap;
}

.loading-wrapper {
  display: inline-block;
  position: relative;
  top: 10px
}

.import-preview-table-csv {
  th {
	overflow: hidden;
  }
}

#dropshipping-item-nr, #dropshipping-item-position-separator, #dropshipping-item-position, #dropshipping-variations-item-nr, #dropshipping-variations-item-position-separator, #dropshipping-variations-item-position {
  display: inline-block;
  vertical-align: middle;
}

#xml-data {
  display: none;
}

#dropshipping-table-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
  z-index: 999;
  left: 0;
  top: 0;
}

#dropshipping-table-loader.fixed-loader {
  position: fixed;
  z-index: 0;
}


#dropshipping-xml-wrapper {
  * {
	box-sizing: border-box;
  }

  #add_attribute {
	float: right;
	margin-right: 5%;
  }

  .woocommerce_options_panel {

	input[type=email], input[type=number], input[type=password], input[type=text] {
	  width: calc(100% - 26px);
	  float: left;
	}

	.dimensions_field {
	  .wrap {
		display: block;
		width: calc(100% - 26px);

		input {
		  width: 30.75%;
		  margin-right: 3.8%;

		  &.last {
			margin-right: 0;
		  }
		}

		select {
		  width: 30.75%;
		  margin-right: 3.8%;
		}

		&.wrap-attribute{
		  width: 80%;
		  display: inline-block;
		  margin-bottom: 15px;
		}
	  }
	}

	.two_cols_field {
	  .wrap {
		input {
		  width: 46%;
		  margin-right: 4%;

		  &.last {
			margin-right: 0;
		  }
		}
	  }
	}
  }
  
  input:disabled, input:disabled::placeholder {
	background-color: #f7f7f7;
	color: #a0a5aa;
  } 
}

.centered {
  margin: auto;
}

.txt-center {
  text-align: center !important;
}

.txt-left {
  text-align: left !important;
}

.txt-right {
  text-align: right !important;
}

.to-right {
  float: right;
}

.to-left {
  float: left;
}

.margin-auto {
  margin: auto !important;
}

.v-align-top {
  vertical-align: top !important;
}

.v-align-middle {
  vertical-align: middle !important;
}

.v-align-bottom {
  vertical-align: bottom !important;
}

.bg-white {
  background-color: #fff;
}

.width-100 {
  width: 100% !important;
}

.width-40 {
  width: 40% !important;
}

.width-20 {
  width: 20% !important;
}

.width-50 {
  width: 100% !important;
}

.width-auto {
	width: auto!important;
}

.max-width-800px {
  max-width: 800px;
}

.padding-xs {
  padding: 3px !important;
}

.padding-sm {
  padding: 5px !important;
}

.padding-md {
  padding: 10px !important;
}

.padding-md {
  padding: 15px !important;
}

.padding-xl {
  padding: 30px !important;
}

.block {
  display: block !important;
}

.draggable {
  cursor: pointer;
  z-index: 9999;
  min-width: 100px;
  display: block;
}

.form-table {
  &.import-data-table {
	max-width: 800px;
	margin: 50px auto 30px auto;

	#droppshiping-import-loader {
	  margin-top: 8px;
	  margin-right: 8px;
	}
  }

  &.import-status-table {
	max-width: 1000px;
	margin: 50px auto 30px auto;

	.status-table {
	  td {
		padding: 0;
		width: 33.33%;
	  }

	  #import-progress {
		font-size: 30px;
		font-weight: bold;
		color: #007cba;
	  }

	  #timer, #import-created, #import-updated, #import-skipped, #import-total {
		font-weight: bold;
	  }
	}

	#log-container {
	  border: 1px solid #ccc;

	  legend {
		margin-left: 15px;
	  }

	  .log-wrapper {
		display: block;
		width: 100%;
		padding: 15px;
	  }
	}
  }

  &.import-preview-table {
	max-width: 1200px;
	margin: 50px auto 30px auto;
	font-size: 14px;

	&-csv {
	  border: 2px solid #000;
	  width: 100%;

	  th {
		font-weight: bold;
	  }

	  td, th, tr {
		border: 2px solid #000;
		padding: 10px;
		text-align: left;
	  }
	}
  }
}

#dropshipping {
  &-sidebar-content {
	overflow: auto;
	display: block;
	word-break: break-word;
  }

  &-xml-wrapper {
	#poststuff #post-body.columns-2 {
	  margin-right: 400px;
	}

	#post-body.columns-2 #postbox-container-1 {
	  float: none;
	  margin: 0;
	  width: 400px;
	  right: 20px;
	  position: absolute;
	  z-index: 1000;
	  max-height: 100%;

	  &.fixed {
		position: fixed;
	  }
	}
  }

  &-item, &-variations-item{

  &-nr {
	width: 80px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
  }

  &-position, &-position-separator {
	font-weight: bold;
	font-size: 16px;
  }

  &-position-arrow-left, &-position-arrow-right {
	font-size: 36px;
	width: 36px;
	height: 36px;
	text-align: center;
	display: inline-block;
  }

  &-separator {
	width: 50px;
	font-size: 20px;
	height: 32px;
	position: relative;
	top: 2px;
	text-align: center;
	font-weight: bold;
	margin: 0 5px;
	//&-button{
	//  font-size: 20px;
	//}
  }
  }

  &-preview-item-list {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;

	li {
	  list-style-type: none;
	  display: block;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  margin-bottom: 3px;

	  a {
		display: block;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		background-color: #eee;
		color: #0071a1;
		text-align: left;
		text-decoration: none;

		&.active, &:hover {
		  background-color: #007cba;
		  color: #fff;
		}

		.preview-item-counter {
		  background-color: #fff;
		  border-radius: 3px;
		  font-size: 14px;
		  padding: 5px;
		  color: #0071a1;
		  float: right;
		  text-align: center;
		  position: relative;
		  top: -3px;
		}

	  }
	}
  }
}

#product-images, #product-tags {
  width: 100%;
  display: block;
}


.data-wrapper {
  padding-left: 25px;
}

.wrap.single-item {
  display: block;
  width: calc(100% - 26px);
  position: relative;
  height: 40px;
  margin-bottom: 15px;

  .remove-button {
	position: absolute;
	right: -20px;
	top: 4px;
	text-decoration: none;
	color: #f00;
  }
}

#add_category, #add_attribute {
  margin: 15px 0;
  display: inline-block;
}

#categories-wrapper {
  position: relative;
  display: inline-block;

  .wrap-category {
	&.single-item {
	  display: block;
	  float: left;
	  clear: left;
	  width: auto;
	  height: auto;
	  margin-bottom: 0;

	  input {
		position: relative;
	  }

	  .remove-button {
		position: absolute;
		right: -26px;
		top: 6px;
		text-decoration: none;
		color: #f00;
	  }
	}
  }
}

#variable_product_options_container {
	display: flex;
	flex-direction: column;
	padding: 0 15px;

	.variable-row, .variable-row-options{
		display: flex;
		flex-direction: column;
		padding-bottom: 10px;

		& > div{
			padding: 5px 0;
		}
	}
	.variable-row-options{
		@extend .variable-row;
		margin-left:20px;
		& > div{
			padding: 5px;
		}
		display: none;
	}
	.active > .variable-row-options{
		display: flex;
	}

	.image_parent{
		display: none;
	}
	.image{
		display: flex;
	}

	.has_parent_image{
		.image_parent{
			display: flex;
		}
		.image{
			display: none;
		}
	}
}

.color{
	&-error{
		color: rgb(230, 0, 0);
	}
	&-success{
		color: rgb(0, 172, 0);
	}
}

#import-player{
	&, & > li{
		list-style-type: none;
		padding:0;
		margin: 0;
	}
	&.stop{
		#stop-import{
			display: none;
		}
	}
	&.start{
		#start-import{
			display: none;
		}
	}
}

.data-wrapper.no-label, .form-field-custom{
	padding: 5px 12px!important;
	margin:0!important;
	label{
		float: none!important;
    	width: auto!important;
    	padding: 0!important;
    	margin: 0!important;
	}
	select{
		float:none!important;
		width: auto!important;
	}
	input{
		float:none!important;
		width: auto!important;
	}
}

#tax-class-wrapper{
	padding-left: 10px;
}

.form-field-disabled{
	position: relative;

	&::before{
		content: ' ';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: rgba(#fff, 0.5);
	}
}

.remove-condition, .add-condition{
	color: #000;
	text-decoration: none;
	outline: none;

	.dashicons{
		width: 30px;
		height: 30px;
		font-size: 30px;
	}
	&:focus, &:active{
		outline: none;
		box-shadow: none;
	}
}

.flex-container{
	display: flex;
	flex-direction: column;
	width: 100%;

	&.odd{
		& > .flex-row:nth-child(odd){
			background-color: #fff;
		}
	}
}
.flex-row{
	display: flex;
	flex-direction: row;
	width: 100%;

	&.stretch{
		align-items: stretch;
	}

	&.flex-fields, &.flex-fields4{
		flex-wrap: wrap;
	}

	&.hidden{
		display: none!important;
	}
}
.flex-col{
	padding: 5px;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	.field-wrapper{
		width: 100%;
	}

	&.justify-left{
		justify-content: left;
	}
	&.justify-right{
		justify-content: right;
	}
}

.can-wrap{
	flex-wrap: wrap;
}

.variation-fields{
	flex-direction: column;
	display: flex;
	align-items: flex-start;
	justify-content: left;

	&.hidden{
		display: none;
	}
}

.flex-fields > .flex-col{
	width:16.6666%;
} 
.flex-fields4 > .flex-col{
	width:25%!important;
} 
@media screen and (max-width: 1600px) {
	.flex-fields > .flex-col{
		width:33.3333%!important;
	}
}

#variation-attributes-wrapper, #variation-tax-class-wrapper {
	.single-item{
		display: flex!important;
		margin-top: 15px;
		column-gap: 5px;

		input, select{
			width: 50%;
		}

		.remove-button{
			position: relative;
			top: 10px;
			&.hidden{
				display: inline;
				visibility: hidden;
			}
		}

	}
}

.variation-loader{
	display: none;
	position: absolute;
	width:100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	left:0;
	top:0;
	z-index: 99999;
	img{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}


#variation-popup{
	position: fixed;
	display: none;
	width: 400px;
	min-height: 400px;
	background-color: #f2f2f2;
	z-index: 9999;
	margin: 5% auto;
	left: calc( ( 100% - 400px ) / 2 );
	top: calc( ( 100% - 400px ) / 2 );
	box-shadow: 0px 0px 30px 0px rgba(66, 68, 90, 1);

	&.open{
		display: block;
	}

	.variation-loader{
		display: block;
	}

	.variation-popup-content{
		position: relative;
		height: 350px;
		overflow: auto;
		align-items: flex-start;
	}
	

	.variation-popup-close{
		padding: 5px 10px;
		font-weight: bold;
		font-size: 12px;
		color: #fff;
		background-color: #007cba;
		text-decoration: none;
	}
}

.close-button{
	align-items: flex-end;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
}

.hidden-pricing{
	display: none!important;
}


#woocommerce-product-price-mapper{
    margin: 15px;
    border: 1px solid #ccc;

	.form-field-container{
		padding: 5px;
		background-color: #F2F2F2;

		.form-field-custom{
			font-weight: bold;
		}
	}
	
	#add-price-group{
		text-align: right;
		float: right;
		margin-right: 10px;
	}	
}

.small-txt{
	display: block;
	word-break: break-all;
}

.group-title{
	font-weight: bold;
}

.remove-group{
	display: block;
	border-radius: 20px;
	background-color: #e27a7c;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
}

.add-group{
	display: block;
	border-radius: 20px;
	background-color: #4383c4;
	color: #fff;
	text-decoration: none;
	padding:5px 10px;
}

.price-mod-group{
	border: 3px solid #ccc;
	padding: 10px;
	margin-bottom: 15px;
}

.group-switcher{
	cursor: pointer!important;
}

.group-closed .group-arrow.dashicons-arrow-down::before{
	content: '\f139';
}

.group-closed .price-mod-group-pricing, .group-closed .price-mod-group-conditions, .group-closed .inside{
	display: none!important;
}

.docs-url{
	color: #C20B79;
	font-weight: bold;
}

th#dropshipping{
	width:20%;
}
